*.egg-info
*.log
*.log.*
*.pdf
*.png
*.pyc
*.svg
*.txt
*~
.#*
R/*
ZIFA*
build/
dist/
plots*
target*
temp*
concatinated.csv
HLA*.csv
hist*.csv
!requirements.txt
.idea
*.iml
.ipynb_checkpoints
*.ipynb

.DS_Store
missing.csv

data/*
out/*
*.pt
notebook/*
cache/*
.coverage
test-results.xml
.vscode/settings.json


df*.csv
